html(lang='en')
head
    meta(charset='utf-8')
    title jade_re-try_beer_equip_site
    link(rel='stylesheet', type='text/css', href='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css')
    link(href='http://fonts.googleapis.com/css?family=Raleway', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Arvo', rel='stylesheet', type='text/css')
    link(rel='stylesheet', type='text/css', href='main2.css')
  body.main-block
    	header
    		h1.text-right The Brewery Equipment Recycler