html(lang='en')
head
    meta(charset='utf-8')
    title jade_re-try_beer_equip_site
    link(rel='stylesheet', type='text/css', href='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css')
    link(href='http://fonts.googleapis.com/css?family=Raleway', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Arvo', rel='stylesheet', type='text/css')
    link(rel='stylesheet', type='text/css', href='main2.css')
body
  	div.main-block
    	header.parallax
    		h1.text-right.main-title The Brewery Equipment Recycler
    		blockquote.ben-quote
    			p Beer is proof that God loves us and wants us to be happy.
    			small Benjamin Franklin
    div.explanation
    	dl
    		dt What is it?
    		dd We are a website focused solely on connecting up-and-coming breweries with quality, used equipment from larger establishments.
    		br
    		dt How does it work?
    		dd Larger capacity breweries looking to sell their old equipment will find young brewery buyers here.
    		br
    		dt Is it secure?
    		dd We provide a service that independently reviews the item for sale and vouches for its validity.
    		br
    		dt Why should I buy used?
    		dd Breweries keep their equipment in good shape, lest the beer they produce become sub standard quality. Starting brewers will have cheaper overhead costs, the brewer can focus on what really matters- the beer.
    		br
    div.products
    	div.tanks-container.slider
    		div.tanks
    			h3 Tanks
    		div.tanks-hidden.noBShidden
    			a(href='tanks.html')
    				img(src='steel_tanks.jpg')
    			p
    			| Tank. Tank. Tank. Tank. Taaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnnnnnnnnnnnnnkkkkkkkkkkk. Tank. Tank. Tank. Tank. Tank. Tank. Tank. Tank. Tank. Tank. Tank. Tank. Taaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnnnnkkkkkkkkkkkkkkkkk. Taaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnnnnnkkkkkkkkkkkk.
    	div.packaging-container.slider
    		div.packaging
        		a(href='packaging.html')
          			h3 Packaging
         	div.packaging-hidden.noBShidden
    			a(href='packaging.html')
        			img(src='brown_glass_bottle.jpg')
      			a(href='packaging.html')
        		p
         		| Packaging. Packaging. Packaging. Packaging. Packaging. Packaging. Packaging. Packaging. Packaging. Packaging. Packaging. Packaging. Packaging. Packaging. Packaging. Packaging. Packaging. Packaging. Packaging. Packaging. Paaaaaaaaaaaaaaaaccccccccccckkkkkkkaaaaagggggggiiiiiiinnnnnnggggggggg.
        div.scientific-container.slider
         	div.scientific
         		h3 Scientific
         	div.scientific-hidden.noBShidden
         		a(href='scientific.html')
         			p
         			| Click here if you are looking for products related to brewing science.
         
