body {
	background-image: url("beer_carbonation1.jpg");
}

.main-block {
	/*max-width: 960px;*/
	margin: 1%;
}

@media screen and (max-width:960px) {
	.main-block {
		padding-left: 15px;
		padding-right: 15px;
	}
}

header {
	background-image: url("beer_head2.jpg");
	border-radius: 20px;
	padding: 3%;
}

.nav-container {
	display: inline-block;
	height: 1em;
	width: 98%;
	padding: .5em;
	border-radius: 0px 0px 5px 5px;
	text-transform: uppercase;
}

.nav-container nav {
	padding-top: 10%;
}

.nav-container li{
	display: inline-block;
	padding-right: 5%;
	list-style: none;
}

.nav-container ul{
	display: inline-block;
	width: 100%;
	margin: auto;
	text-align: center;
}

.nav-container a{
	color:black;
}

@media screen and (max-width: 635px) {
	.nav-container {
		height: 3em;
	}
	.nav-container ul{
		-webkit-padding-start:0;
		margin:none;
	}
}

p {
	max-width: 100%;
	color: floralwhite;
	background: rgba(0, 0, 0, 0.6);
}

.lrg-img-container {
	width: 100%;

}

.lrg-img-container img {
	max-width: 100%
}

.image-gallery ul{
	display: inline-block;
	width: 100%;
	margin: 0 25%;
	padding: 0;
}

.image-gallery li{
	display: inline-block;
	padding-left: 1em;
}

@media screen and (min-width: 651px) and (max-width: 800px) {
	.image-gallery ul{
		margin: 0 15%;
	}
}

@media screen and (min-width: 550px) and (max-width: 650px) {
	.image-gallery ul{
		margin: 0 10%;
	}
}
@media screen and (min-width: 200px) and (max-width: 549px) {
	.image-gallery ul{
		margin: 0 5%;
	}
}

.signup-btn a{
   border-top: 1px solid #000000;
   background: #633b3b;
   background: -webkit-gradient(linear, left top, left bottom, from(#9c3e43), to(#633b3b));
   background: -webkit-linear-gradient(top, #9c3e43, #633b3b);
   background: -moz-linear-gradient(top, #9c3e43, #633b3b);
   background: -ms-linear-gradient(top, #9c3e43, #633b3b);
   background: -o-linear-gradient(top, #9c3e43, #633b3b);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.signup-btn:hover a{
   border-top-color: #ab3c3e;
   background: #ab3c3e;
   color: #e8e5e8;
   }
.signup-btn:active a{
   border-top-color: #000000;
   background: #000000;
   }
}

