/*body {
	width: 100%;
	overflow: hidden;
}*/

header{
	position: relative;
	background-image: url("beer_head3.jpg");
	height: 800px;
	width: 100%;
	background-attachment: fixed;
	background-size: cover;
}

header h1{
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	padding: 15% 5% 0%;
	font-family: "Raleway";

}

.ben-quote{
	border-left: none;
	position: absolute;
	top: 90%;
	width: 100%;
	text-align: center;
}

@media screen and (min-height: 0px) and (max-height: 399px) {
	.ben-quote {
		top:85%;
	}
	header {
		height: 600px;
	}
}


@media screen and (min-height: 400px) and (max-height: 475px) {
	.ben-quote {
		top:85%;
	}
	header {
		height: 700px;
	}
}

@media screen and (min-height: 476px) and (max-height: 525px) {
	header {
		height: 700px;
	}
}
@media screen and (min-height: 526px) and (max-height: 599px) {

}
@media screen and (min-height: 600px) and (max-height: 800px) {
	header {
		height: 950px;
	}	
}

@media screen and (min-height: 801px){
	header {
		height: 1000px;
	}
}

.explanation{
	background-color: black;
	background-image: -webkit-linear-gradient(top, 
		rgba(0,0,0,0.8) 0%, 
		rgba(0,0,0,0) 0%, 
		rgba(0,0,0,0) 50%, 
		rgba(0,0,0,0.9) 100% ), 
		-webkit-linear-gradient(left, 
		rgba(0,0,0,0.2) 0%, 
		rgba(0,0,0,0) 20%, 
		rgba(0,0,0,0) 50%, 
		rgba(0,0,0,0.7) 100% ), 
		url("copper.jpg");
	background-repeat: no-repeat;
	height: 100%;
	/*background-attachment: fixed;*/
	background-size: cover;
}

.explanation dl {
	margin-bottom: 0;
	padding-bottom: 3em;
}
.explanation dt{
	font-size: 36;
	padding: 2% 10%;
	color: white;
}

.explanation dd{
	font-size: 24;
	padding: 0% 5%;
	color: white;
}

.products {
	background:black;
	width: 100%;
	overflow: hidden;
}

.tanks-container {
	position: relative;
}

.tanks {
	background: black;
	/*background-position: right;
	background-image: -webkit-linear-gradient(top, 
    rgba(0,0,0,0.9) 0%, 
    rgba(0,0,0,0) 20%,
    rgba(0,0,0,0) 80%,
    rgba(0,0,0,0.9) 100%
  ),
  -webkit-linear-gradient(left, 
    rgba(0,0,0,0.9) 0%, 
    rgba(0,0,0,0) 20%,
    rgba(0,0,0,0) 80%,
    rgba(0,0,0,0.9) 100%
  ), url("ferment_tanks.jpg");
	background-repeat: no-repeat;*/
	height: 200px;


	/*width: 100%;*/
}


.tanks h3 {
	margin: 0;
	text-align: center;
	color: white;
}

.tanks-hidden.noBShidden p {
	display: none;
	position: absolute;
	top: 30;
	left: -250px;
	color: burlywood;
	width: 40%;
	
}

.tanks-hidden.noBShidden img {
	display: none;
	position: absolute;
	color: white;
	top: 30;
	right: -250px;
	height: 200px;
	width: 200px;
}

.packaging-container {
	position: relative;
}

.packaging {
	background: black;
	height: 200px;
}

.packaging h3 {
	text-align: center;
	color: white;
}

.packaging-hidden.noBShidden p {
	display: none;
	position: absolute;
	color: burlywood;
	top: 30;
	left: -250px;
	width: 40%;
}

.packaging-hidden.noBShidden img {
	display: none;
	position: absolute;
	color: white;
	top: 30;
	right: -250px;
}

.scientific-container {
	position: relative;
}

.scientific {
	background: black;
  	height: 200px;
}

.scientific h3 {
	color: white;
}

.scientific-hidden.noBShidden p {
	display: none;
	position: absolute;
	color: burlywood;
	top: 30;
	left: -250px;
	width: 40%;
}

.scientific-hidden.noBShidden img {
	display: none;
	position: absolute;
	color: white;
	top: 30;
	right: -250px;
}

.accessories-container {
	position: relative;
}

.accessories {
	background: black;
  	height: 200px;
}

.accessories h3 {
	color: white;
}

.accessories-hidden.noBShidden p {
	display: none;
	position: absolute;
	color: burlywood;
	top: 30;
	left: -250px;
	width: 40%;
}

.accessories-hidden.noBShidden img {
	display: none;
	position: absolute;
	color: white;
	top: 30;
	right: -250px;
}

.inspection-container{
	position: relative;
}

.inspection {
	background: black;
  	height: 200px;
}

.inspection h3 {
	color:white;
}

.inspection-hidden.noBShidden p {
	display: none;
	position: absolute;
	color: burlywood;
	top: 30;
	left: -250px;
	width: 40%;
}

.inspection-hidden.noBShidden img {
	display: none;
	position: absolute;
	color: white;
	top: 30;
	right: -250px;
}






