body {
	background-image: url("beer_kegs.jpg");
	background-size: cover;
	/*background-color: rgba(0,0,0,0.5);*/
	color: wheat;

}


form {
	width: 50%;
	margin: 15% 25%;
	background-color: rgba(0,0,0,0.5);
	padding: 20px;
	border-radius: 30px;
}

.singleInput {
	width: 100%;
}

#toggler .packaging{
	display: none;
}

#toggler.packaging .packaging{
	display: block;
}

#toggler .tank{
	display: none;
}

#toggler.tank .tank{
	display: block;
}