


form {
	width: 40%;
	margin: 25%;
}

.singleInput {
	width: 100%;
}

#toggler .packaging{
	display: none;
}

#toggler.packaging .packaging{
	display: block;
}

#toggler .tank{
	display: none;
}

#toggler.tank .tank{
	display: block;
}