doctype html
html(lang='en')
head
	meta(charset='utf-8')
	title jade_re-try_beer_equip_site
	link(rel='stylesheet', type='text/css', href='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css')
	link(href='http://fonts.googleapis.com/css?family=Raleway', rel='stylesheet', type='text/css')
	link(href='http://fonts.googleapis.com/css?family=Arvo', rel='stylesheet', type='text/css')
	link(href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel="stylesheet")
	link(rel='stylesheet', type='text/css', href='stylesheets/main2.css')
body
	div.main-block
		header.parallax
			h1.text-center.main-title The Brewery Equipment Recycler
			div.row
				div.col-sm-3
				div.col-sm-6.main-subtitle-container
					h4.text-center Connecting up-and-coming breweries with products they need at prices they can afford.
				div.col-sm-3
			div.row
				div.col-sm-3
				div.col-sm-6.text-center.sellStuff-container
					a.btn.btn-light.signup(href='/signup')
						| Sell your brewery's old stuff!
				div.col-sm-3
			div.row
				div.col-sm-3
				div.col-sm-6.text-center
					i.fa.fa-angle-double-down
				div.col-sm-3
			blockquote.ben-quote
				p Beer is proof that God loves us and wants us to be happy.
				small Benjamin Franklin
	div.explanation
		div.explanation-sub-container
			dl
				dt What is it?
				dd We are a website focused solely on connecting up-and-coming breweries with quality, used equipment from larger establishments.
				br
				dt How does it work?
				dd Larger capacity breweries looking to sell their old equipment will find young brewery buyers here.
				br
				dt Is it secure?
				dd We provide a service that independently reviews the item for sale and vouches for its validity.
				br
				dt Why should I buy used?
				dd Breweries keep their equipment in good shape, lest the beer they produce become sub standard quality. Starting brewers will have cheaper overhead costs, the brewer can focus on what really matters- the beer.
				br
	section.row-1
		div.products
			div.row
				div.tanks-container.col-sm-6.half-block.darkness-container
					div.darkness
					div.content
						h3 TANKS 
							small.small-content  TO MASH OR TO FERMENT
						div.tanks-hidden.noBShidden
							p
								a.btn.btn-light.half-block-buttons(href='/tanks') CONTINUE
				div.packaging-container.col-sm-6.half-block.darkness-container
					div.darkness
					div.content
						h3 PACKAGING				
							small.small-content BOTTLES AND CANS, CANS AND BOTTLES
						div.packaging-hidden.noBShidden
							p
								a.btn.btn-light.half-block-buttons(href='/packaging') CONTINUE
			div.row
				div.scientific-container.col-sm-6.half-block.darkness-container
					div.darkness
					div.content
						h3 SCIENTIFIC 
							small.small-content GETTIN' YEASTY
						div.scientific-hidden.noBShidden
							p
								a.btn.btn-light.half-block-buttons(href='/scientific') CONTINUE
				div.accessories-container.col-sm-6.half-block.darkness-container
					div.darkness
					div.content
						h3 ACCESSORIES 
							small.small-content GIVE IT SOME SWAGGER
						div.accessories-hidden.noBShidden
							p
								a.btn.btn-light.half-block-buttons(href='/accessories') CONTINUE
			//- div.inspection-container
			//- 	div.inspection
			//- 		h3 INSPECTION
			//- 			small Looking to have items professionally inspected before you buy?
			//- 		div.inspection-hidden.noBShidden.half-block
			//- 			p
			//- 				a.btn.btn-light.half-block-buttons(href='/inspection') CONTINUE

	script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js')
	script(src='scroll.js')
	script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
	script(src='javascripts/main.js')