doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Untitled
		link(href='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css', rel="stylesheet", type="text/css")
		link(rel="stylesheet" type="text/css" href='/stylesheets/individual_product.css')
		link(href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel="stylesheet")

	body
		block content

		script(src='/javascripts/individual_product.js')

		block scripts