extends tabular-layout

block content
	header
		a.backToHome(href='/')
			i.fa.fa-arrow-left
			p back to home
		a(href='/')
			img(src='/images/Drawing1.png')
	div.row
		div.col-sm-3.col-xs-3
		div.col-sm-6.col-xs-6
			div.search-container
				fieldset.searchfield
					//- legend= Legend
					input#query(placeholder='search term')
					input#minAsk(size='5', placeholder='min price')
					input#maxAsk(size='5', placeholder='max price')
					select.type-selector(name="answer")
						option(value="select-type") Select Packaging Type
						option(value="Bottler") Bottler
						option(value="Canner") Canner
					input#searchbtn.btn.btn-info(type='submit')
					//- input.distance#maxDist(type='number', placeholder='100')
					//- button.distance#closeToBtn() miles from me
			

		div.col-sm-3.col-xs-3

			//- div#map-near-me-canvas
	div.row.fixed-table
		div.main-table
			
				div.col-sm-2.col-xs-2.main-title Picture
				div.col-sm-6.col-xs-6.main-title Description
				div.col-sm-2.col-xs-2.main-title Location
					select.distance-selector
						option(value="miles from me") Miles from me
						option(value=50) 50
						option(value=100) 100
						option(value=250) 250
						option(value=500) 500
						option(value=10000) 500+
				div.col-sm-2.col-xs-2.main-title Price
	div.appended_rows
	footer.empty-footer

	//- div.map-lightbox
	//- 	div#map-canvas
	//- 	button(type="button") Close

	script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js')		
	script(src='javascripts/packaging.js')
	script(src='http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js')
	script(src="https://maps.googleapis.com/maps/api/js?v=3.exp")
	script(type="text/javascript" src="http://www.google.com/jsapi")

		//- TEMPLATE for packaging table data
	script#startDataTable(type='text-handlebars-template')

			//- div.added_div(data-index='{{index}}')
			//- 	table.hidden_shadow
			//- 		tr.added_rows
			//- 			td.col-lg-2
			//- 				img.thumbnail(src='{{image}}')
			//- 			td.col-lg-6
			//- 				a(href='/individual_product/' + '{{_id}}' )  
			//- 					h4 {{product}}
			//- 				p {{product_description}}
			//- 			td.location.col-lg-2 {{location.city}}, {{location.state}}
			//- 				button(type='button') Map
			//- 			td.col-lg-2 ${{price}}
			
			div.row.individual_row.hidden_shadow(data-index='{{index}}')
				div.added_div
					div.col-sm-2
						img.thumbnail(src='{{image}}')
					div.col-sm-6.productTitle
						a.product-link(href='/individual_product/' + '{{_id}}' ) 
							h4 {{product}}
						p {{product_description}}
					div#location.col-sm-2.location-price
						p {{location.city}}, {{location.state}}
						//- button(type='button') Map
					div.col-sm-1.location-price
						p ${{price}}




