extends tabular-layout

block content
	header
		a(href='index2.html')
			i.fa.fa-hand-o-left
		h3= Packaging

	blockquote
		fieldset.searchfield
			legend= Legend
			input#query(placeholder='search')
			input#searchbtn(type='submit')
			input#minAsk(size='5', placeholder='min')
			input#maxAsk(size='5', placeholder='max')
			label Packing Type
			select(name="answer")
				option(value="Bottler") Bottler
				option(value="Canner") Canner

	table.main-table
		thead
			tr
				th Name
				th Description
				th Location
				th Price
		tbody.tbody-orig

	script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js')		
	script(src='javascripts/packaging.js')
	script(src='http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js')

		//- TEMPLATE for packaging table data
	script#startDataTable(type='text-handlebars-template')

				tr
					a(href='/individual_product')
						td {{product}}
						td {{product_description}}
					td {{location}}
						button(type='button') Map
					td {{price}}





