extends tabular-layout

block content
	header
		a(href='index2.html')
			i.fa.fa-hand-o-left
		h3= Packaging

	blockquote
		fieldset.searchfield
			legend= Legend
			input#query(placeholder='search')
			input#searchbtn(type='submit')
			input#minAsk(size='5', placeholder='min')
			input#maxAsk(size='5', placeholder='max')
			label Packing Type
			select(name="answer")
				option(value="Bottler") Bottler
				option(value="Canner") Canner

	table.main-table

	script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js')		
	script(src='javascripts/packaging.js')