extends tabular-layout

block content
	header
		a(href='index2.html')
			i.fa.fa-hand-o-left
		h3= Packaging

	blockquote
		fieldset.searchfield
			legend= Legend
			input#query(placeholder='search')
			input#searchbtn(type='submit')
			input#minAsk(size='5', placeholder='min')
			input#maxAsk(size='5', placeholder='max')
			label Packing Type
			select.type-selector(name="answer")
				option(value="select-type") Select Type
				option(value="Bottler") Bottler
				option(value="Canner") Canner
			input#maxDist(type='number', placeholder='100')
			button#closeToBtn() Products close to me

	//- div#map-near-me-canvas

	table.main-table
		thead
			tr
				th Name
				th Description
				th Location
				th Price
		tbody.tbody-orig
	div.appended_rows

	div.map-lightbox
		div#map-canvas
		button(type="button") Close

	script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js')		
	script(src='javascripts/packaging.js')
	script(src='http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js')
	script(src="https://maps.googleapis.com/maps/api/js?v=3.exp")
	script(type="text/javascript" src="http://www.google.com/jsapi")

		//- TEMPLATE for packaging table data
	script#startDataTable(type='text-handlebars-template')

			div.added_div(data-index='{{index}}')
				table.hidden_shadow
					tr.added_rows
						td
							img.thumbnail(src='{{image}}')
						td
							a(href='/individual_product/' + '{{_id}}' )  
								h4 {{product}}
							p {{product_description}}
						td.location {{location.city}}, {{location.state}}
							button(type='button') Map
						td ${{price}}





