doctype html
html(lang='en')
head
	meta(charset='utf-8')
	title signup
	link(href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css')
	link(rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css")
	link(rel="stylesheet" type="text/css" href="stylesheets/signup-page.css")
body
	h2 Sign in and start selling
	form.form-container(role='form')
		div.form-group.singleInput.breweryName
			label Brewery Name
			input.form-control(type='text', placeholder='ex:Quaffable Quaff Brewing')
		div.form-group.singleInput.emailAddy
			label Email Address
			input.form-control(type='email', placeholder='emaily@email.com')
		div.form-group.singleInput.productName
			label Product Name
			input.form-control(type='text', placeholder='LB2 bottler')
		div.radioz
			div.radio.radio1#toggler
				input#pack(type='radio', name='packOrTank', value='packaging')
				label Packaging
				
				section.packaging
					input#bottle(type='radio', name='subset', value='bottle')
					label bottler
					input#can(type='radio', name='subset', value='canner')
					label canner
			div.radio.radio2#toggler
				input#tank(type='radio', name='packOrTank', value='tank')
				label Tank
				section.tank
					input#fermentor(type='radio', name='subset', value='fermentor')
					label Fermentor
					input#mash(type='radio', name='subset', value='mash')
					label Mash Tank
		div.row
			div.form-group.col-md-3.productName
				label Height
				input.form-control#height(type='text', placeholder='feet')
			div.form-group.col-md-3.productName
				label Length
				input.form-control#length(type='text', placeholder='feet')
			div.form-group.col-md-3.productName
				label Width
				input.form-control#width(type='text', placeholder='feet')
			div.form-group.col-md-3.productName
				label Weight
				input.form-control#weight(type='text', placeholder='pounds')
		div.form-group.productDescription
			label Product Description
			textarea.form-control(rows='3')
		div.form-group.singleInput.location
			label Location
			input.form-control(type='text', placeholder='Boulder, CO')
		div.form-group.singleInput.price
			label Price
			input.form-control(type='text', placeholder='10000')
		button.btn.btn-default(type='submit')
			| Submit
	script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js')
	script(src='javascripts/signup-page.js')