doctype html
html(lang='en')
head
	meta(charset='utf-8')
	title signup
	link(href='//fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css')
	link(rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css")
	link(rel="stylesheet" type="text/css" href="stylesheets/signup-page.css")
body
	h2 Sign in and start selling
	form.form-container(role='form')
		div.form-group.singleInput.breweryName
			label Brewery Name
			input.form-control(type='text', placeholder='ex:Quaffable Quaff Brewing', value='Brewce Juice Brewery')
		div.form-group.singleInput.emailAddy
			label Email Address
			input.form-control(type='email', placeholder='emaily@email.com', value='email@email.com')
		div.form-group.singleInput.productName
			label Product Name
			input.form-control(type='text', placeholder='LB2 bottler', value='MaxBottler bottle filler')
		div.radioz
			div.radio.radio1#toggler
				input#pack(type='radio', name='packOrTank', value='packaging')
				label Packaging
				
				section.packaging
					input#bottle(type='radio', name='subset', value='bottle')
					label bottler
					input#can(type='radio', name='subset', value='canner')
					label canner
			div.radio.radio2#toggler
				input#tank(type='radio', name='packOrTank', value='tank')
				label Tank
				section.tank
					input#fermenter(type='radio', name='subset', value='fermenter')
					label Fermenter
					input#mash(type='radio', name='subset', value='mash')
					label Mash Tank
		div.row
			div.form-group.col-md-3.col-sm-3.col-xs-3.productName
				label Height
				input.form-control#height(type='number', placeholder='feet', value=5)
			div.form-group.col-md-3.col-sm-3.col-xs-3.productName
				label Length
				input.form-control#length(type='number', placeholder='feet', value=6)
			div.form-group.col-md-3.col-sm-3.col-xs-3.productName
				label Width
				input.form-control#width(type='number', placeholder='feet', value=7)
			div.form-group.col-md-3.col-sm-3.col-xs-3.productName
				label Weight
				input.form-control#weight(type='number', placeholder='pounds', value=123)
		div.form-group.productDescription
			label Product Description
			textarea.form-control(rows='3', value='This is a super cool product')
		div.row
			div.form-group.price.col-md-3.col-sm-3
				label Price
				input.form-control(type='number', placeholder='10000', value=15000)
		div.form-group.singleInput.location Location
		div.form-group.singleInput.streetAddress
			label Street Address
			input.form-control(type='text', placeholder='101 1st Street', value='824 W Main St')
		div.form-group.singleInput.cityID
			label City
			input.form-control(type='text', placeholder='Boulder', value='Bozeman')
		div.row
			div.form-group.stateID.col-md-3.col-sm-3
				label State
				select.form-control.state_selector
								option(value="AL") AL
								option(value="AK") AK
								option(value="AZ") AZ
								option(value="AR") AR
								option(value="CA") CA
								option(value="CO") CO
								option(value="CT") CT
								option(value="DE") DE
								option(value="DC") DC
								option(value="FL") FL
								option(value="GA") GA
								option(value="HI") HI
								option(value="ID") ID
								option(value="IL") IL
								option(value="IN") IN
								option(value="IA") IA
								option(value="KS") KS
								option(value="KY") KY
								option(value="LA") LA
								option(value="ME") ME
								option(value="MD") MD
								option(value="MA") MA
								option(value="MI") MI
								option(value="MN") MN
								option(value="MS") MS
								option(value="MO") MO
								option(value="MT") MT
								option(value="NE") NE
								option(value="NV") NV
								option(value="NH") NH
								option(value="NJ") NJ
								option(value="NM") NM
								option(value="NY") NY
								option(value="NC") NC
								option(value="ND") ND
								option(value="OH") OH
								option(value="OK") OK
								option(value="OR") OR
								option(value="PA") PA
								option(value="RI") RI
								option(value="SC") SC
								option(value="SD") SD
								option(value="TN") TN
								option(value="TX") TX
								option(value="UT") UT
								option(value="VT") VT
								option(value="VA") VA
								option(value="WA") WA
								option(value="WV") WV
						
								option(value="WI") WI
								option(value="WY") WY
			div.form-group.zipID.col-md-3.col-sm-3
				label ZIP code
				input.form-control(type='number', placeholder='80302', value=59715)
			div.form-group.col-md-2.col-sm-2
			input.btn.btn-default.col-md-3.col-sm-3#submitbtn(type='submit')
	script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js')
	script(src='javascripts/signup-page.js')