doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Untitled
		link(href='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css', rel="styleshet", type="text/css")

	body
		block content
		