/*body {
	width: 100%;
	overflow: hidden;
}*/

header{
	position: relative;
	background-image: url("../main_imgs/beer_head3.jpg");
	height: 800px;
	width: 100%;
	background-attachment: fixed;
	background-size: cover;
}

header h1{
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	padding: 15% 5% 0%;
	font-family: "Raleway";

}

.ben-quote{
	border-left: none;
	position: absolute;
	top: 90%;
	width: 100%;
	text-align: center;
}

@media screen and (min-height: 0px) and (max-height: 399px) {
	.ben-quote {
		top:85%;
	}
	header {
		height: 600px;
	}
}


@media screen and (min-height: 400px) and (max-height: 475px) {
	.ben-quote {
		top:85%;
	}
	header {
		height: 700px;
	}
}

@media screen and (min-height: 476px) and (max-height: 525px) {
	header {
		height: 700px;
	}
}
@media screen and (min-height: 526px) and (max-height: 599px) {

}
@media screen and (min-height: 600px) and (max-height: 800px) {
	header {
		height: 950px;
	}	
}

@media screen and (min-height: 801px){
	header {
		height: 1000px;
	}
}

.explanation{
	background-color: black;
	background-image: -webkit-linear-gradient(top,
	rgba(0,0,0,0.8) 0%,
	rgba(0,0,0,0) 0%,
	rgba(0,0,0,0) 60%,
	rgba(0,0,0,1) 100% ),
	-webkit-linear-gradient(left,
	rgba(0,0,0,0.2) 0%,
	rgba(0,0,0,0) 20%,
	rgba(0,0,0,0) 50%,
	rgba(0,0,0,0.7) 100% ),
	url("../main_imgs/copper.jpg");
	background-repeat: no-repeat;
	height: 100%;
	/*background-attachment: fixed;*/
	background-size: cover;
	font-family: 'Arvo';
}

.explanation dl {
	margin-bottom: 0;
	padding-bottom: 3em;
}
.explanation dt{
	font-size: 36;
	padding: 2% 10%;
	color: white;
}

.explanation dd{
	font-size: 24;
	padding: 0% 5%;
	color: white;
}

.products {
	background:black;
	width: 100%;
	overflow: hidden;
	font-family: 'Arvo';
}

.half-block {
	text-align: center;
}

.half-block h3 {
	padding-top: 9%;
}

.half-block p{
	width: 100%;
}

.half-block-buttons {
	padding: 10px 20px;
	border: 2px solid white;
	border-radius: 0px;
	transition: .5s;
}

.half-block-buttons:hover {
	background-color: white;
}

.tanks-container {
	position: relative;
	background-image: url('/images/ferment_tanks2.jpg');
}

.tanks {
	/*background-position: right;
	background-image: -webkit-linear-gradient(top, 
    rgba(0,0,0,0.9) 0%, 
    rgba(0,0,0,0) 20%,
    rgba(0,0,0,0) 80%,
    rgba(0,0,0,0.9) 100%
  ),
  -webkit-linear-gradient(left, 
    rgba(0,0,0,0.9) 0%, 
    rgba(0,0,0,0) 20%,
    rgba(0,0,0,0) 80%,
    rgba(0,0,0,0.9) 100%
  ), url("ferment_tanks.jpg");
	background-repeat: no-repeat;*/
	height: 200px;
	/*width: 100%;*/
}


.tanks h3 {
	margin: 5% 0%;
	text-align: center;
	color: white;
	font-family: "Raleway";
	color: burlywood;
}

.tanks-hidden.noBShidden p {
	position: absolute;
	top: 30;
	color: burlywood;	
}

.tanks-hidden.noBShidden img {
	position: absolute;
	color: white;
	top: 30;
	height: 200px;
	width: 200px;
}

.packaging-container {
	position: relative;
	background-image: url('/images/canning_machine.jpg');
	background-size: cover;
}

.packaging {
	height: 200px;
}

.packaging h3 {
	text-align: center;
	color: white;
	font-family: "Raleway";
	color: burlywood;
}

.packaging-hidden.noBShidden p {
	position: absolute;
	color: burlywood;
	top: 30;
}

.packaging-hidden.noBShidden img {
	position: absolute;
	color: white;
	top: 30;
}

.scientific-container {
	position: relative;
	background-image: url('/images/yeast_starter.jpg');
}

.scientific {
  	height: 200px;
}

.scientific h3 {
	text-align: center;
	color: white;
	font-family: "Raleway";
	color: burlywood;
}

.scientific-hidden.noBShidden p {
	position: absolute;
	color: burlywood;
	top: 30;
}

.scientific-hidden.noBShidden img {
	position: absolute;
	color: white;
	top: 30;
	height: 200px;
	width: 200px;
}

.accessories-container {
	position: relative;
	background-image: url('/images/wine_barrels.jpg');
	background-size: cover;
}

.accessories {
  	height: 200px;
}

.accessories h3 {
	text-align: center;
	color: white;
	font-family: "Raleway";
	color: burlywood;
}

.accessories-hidden.noBShidden p {
	position: absolute;
	color: burlywood;
	top: 30;
}

.accessories-hidden.noBShidden img {
	position: absolute;
	color: white;
	top: 30;
	height: 200px;
	width: 200px;

}

.inspection-container{
	position: relative;
	background-image: url('/images/tank_inspection.jpg');
	background-size: cover;
}

.inspection {
  	height: 200px;
}

.inspection h3 {
	text-align: center;
	color:white;
	font-family: "Raleway";
	color: burlywood;
}

.inspection-hidden.noBShidden p {
	position: absolute;
	color: burlywood;
	top: 30;
}

.inspection-hidden.noBShidden img {
	position: absolute;
	color: white;
	top: 30;
}

.signup {
	background: black;
}

.signup h3 {
	margin: 0;
	padding: 7% 0 7% 0;
	text-align: center;
	color: burlywood;
}

.fadeInUp {
	-webkit-animation-name: fadeInUp;
	-webkit-animation-fill-mode: both;
	duration: 2s;
}




