body {
	background-color: #E8E8E8;
}

header {
	background-color: #E8E8E8;
	border-bottom: 1px solid darkgrey;
	height: 3em;
	width: 100%;
}

.backToHome p{
	display: inline;
	color: darkgrey;
	border: 1px solid darkgrey;
	width: 125px;
}

header img {
	display: inline;
	height: 50px;
	width: 55px;
}

.fa {
	display: inline;
	margin-left: 3%;
	color: black;
}

.search-container {
	/*background-image: url("../main_imgs/beer_head1.jpg");*/
	width: 100%;
	height: 100%;
	padding-top: 1%;
	position: relative;
	border: 1px solid #777;
	background: #aaa;
}

.searchfield {
	max-width: 768px;
	background-color: white;
	display: block;
	margin: 10%;
	border: 2px solid #1A96C3;
}

#query {
	display: block;
	width: 90%;
	margin: 1% 5%;
}

#minAsk {
	margin: 1% 5%;
	width: 69px;
}
#maxAsk {
	width: 69px;
}
.type-selector {
	display: block;
	margin: 1% 5%;
	border-radius: 2px;
}

#searchbtn {
	margin: 2%;
}

.main-title {
	text-align: left;
	font-size: 2em;
	color: #1A96C3;
	font-family: Raleway;
	text-shadow: 0px 4px 4px rgba(3, 3, 5, .35);
}



.pack-label {
	display: block;
}

.distance {
	margin: 1% 0% 1% 5%;
}

#closeToBtn {
	background-color: rgba(216, 123, 16, 0.71);
	border-radius: 5px;
}

table, td {
    border: 1px solid black;
}

thead th {
	padding: 1%;
	background-color: white; 
}

table {
	margin: 5%;
	width: 90%;
}
.fixed-table {
	margin: 1em 1em 0em 1em;
}

/*@media screen and (min-width: 0px) and (max-width: 1150px) {
	.fixed-table {
		display: none;
		margin: 0;
	}
}*/

.distance-selector {
	font-size: 14px;
	margin: 0;
}

.individual_row {
	margin-bottom: 2em;
	border: 1px solid rgb(150, 150, 150);
	background-color: white;
	margin: 3em 1em 0em 1em;
}

.hidden_shadow {
	transition: box-shadow .5s;
	background-color: white;
}

.hidden_shadow:hover {
	box-shadow: 10px 10px 5px rgba(3, 3, 5, .35);
}

.added_div {
	margin: 1em;
}

.tbody-orig a {
	color: black;
}

.productTitle {
	-webkit-margin-before: 0;
}

.thumbnail {
	max-height: 120px;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: none;
}

.location-price {
	position: relative;
	margin-top: 2em;
}



.empty-footer {
	height: 3em;
}