body {
	background-color: #E8E8E8;
}

header {
	background-color: #E8E8E8;
}

.fa {
	display: inline;
	margin-left: 3%;
	color: black;
}

header i:hover{
	transition: transform 0.2s;
	transform: scale(2);
}

header h3 {
	/*background-color: #DFDDDD;*/
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	padding: 1% 3%;
	display: inline-block;
	/*border-bottom: 1px solid darkgrey;*/
}
.search-container {
	background-image: url("../main_imgs/copper.jpg");
	width: 100%;
	height: 100%;
	padding-top: 1%;
	position: relative;
	border-bottom: 3px solid burlywood;
}

.searchfield {
	max-width: 768px;
	background-color: white;
	display: block;
	margin: 10%;
	border: 3px solid burlywood;
}

.multi_pick {
	margin: .5em 0;
}

#query {
	display: block;
	width: 90%;
	margin: 1% 5%;
}

#minAsk {
	margin: 1% 5%;
}
.type-selector {
	display: block;
	margin: 1% 5%;
}

#searchbtn {
	position: relative;
	display: block;
	height: 100%;
	width: 8em;
	left: 60%;
	margin: 2%;
}

.pack-label {
	display: block;
}

.distance {
	margin: 1% 0% 1% 5%;
}

#closeToBtn {

}

table, td {
    border: 1px solid black;
}

thead th {
	padding: 1%;
	background-color: white; 
}

table {
	margin: 5%;
	width: 90%;
}
.fixed-table {
	margin: 1em 1em 0em 1em;
}

.individual_row {
	margin-bottom: 2em;
	border: 1px solid rgb(150, 150, 150);
	background-color: white;
	margin: 3em 1em 0em 1em;
}

.hidden_shadow {
	transition: box-shadow .5s;
	background-color: white;
}

.hidden_shadow:hover {
	box-shadow: 10px 10px 5px rgba(3, 3, 5, .35);
}

.added_div {
	margin: 1em;
}

.tbody-orig a {
	color: black;
}

.thumbnail {
	height: auto;
	width: 100px;
	height: 100px;
}

.map-lightbox{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.7);
}

.map-lightbox button{
	left: 25%;
	top: 22%;
	position: fixed;
}

#map-canvas {
	top: 25%;
	left: 25%;
	width: 400px;
	height: 400px;
}

#map-near-me-canvas {
	top: 0;
	left: 0;
	width: 400px;
	height: 400px;
}

.empty-footer {
	height: 3em;
}