body {
	background-image: url("../images/beer_kegs2.jpg");
	/*background-size: cover;*/
	/*background-color: rgba(0,0,0,0.5);*/
	color: wheat;
	background-repeat: cover;
	/*background-attachment: fixed;*/

}

h2 {
	padding: 5% 0% 0% 10%;
	font-family: 'Arvo';
}

.form-container {
	width: 50%;
	margin: 2em 25% 0 25%;
	background-color: rgba(0,0,0,0.5);
	padding: 20px;
	border-radius: 30px;
}

.singleInput {
	width: 100%;
}

.radio input[type=radio] { /*gets all radio buttons*/ 
	margin: 0;
}

#toggler .packaging{
	display: none;
}

#toggler.packaging .packaging{
	display: block;
}

#toggler .tank{
	display: none;
}

#toggler.tank .tank{
	display: block;
}

#submitbtn{
	margin-top: 1.5em;
}